<h1>결과입니다.</h1>

신이 <%= @name%>을 만들 때 <br>

<img src="goddes1.jpg"></img> <br>
<%= @sentence_forward[0]%> <%= @result[0] %> <%= @spoon[0]%>스푼 <%= @sentence_backward[0]%>  <br>

<img src="goddes1.jpg"></img> <br>
<%= @sentence_forward[1]%> <%= @result[1] %> <%= @spoon[1]%>스푼 <%= @sentence_backward[1]%> <br>

<img src="god.jpg"></img> <br>
<%= @sentence_forward[2]%> <%= @result[2] %> 15 스푼 훠어어어우... <br>
